<div>
  <p *ngIf="condition">Hello world!</p>
  <p *ngIf="!condition">Goodbye world!</p>
  <button (click)="toggle()">Toggle</button>
</div>

<div>
  <p *ngIf="conditionUnset; else unset">Hello my world!</p>
  <ng-template #unset>
    <p>Goodbye my world!</p>
  </ng-template>
  <button (click)="toggleUnset()">Toggle</button>
</div>

<div *ngIf="thenCondition; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Then template</ng-template>
<ng-template #elseBlock>Else template</ng-template>
<button (click)="toggleThenCondition()">Toggle template</button>

<ul>
  <li *ngFor="let item of items; let i = index">{{ i + 1 + ' - ' + item }}</li>
</ul>

<div [ngSwitch]="count">
  <ng-template [ngSwitchCase]="1">{{ count * 10 }}</ng-template>
  <ng-template [ngSwitchCase]="5">{{ count * 50 }}</ng-template>
  <ng-template ngSwitchDefault>{{ count * 1000}}</ng-template>
</div>
