<phone></phone>

<service></service>

<data></data>

<app-purchapse></app-purchapse>

<app-binding></app-binding>


<child-comp
  [userName]="name"
  [userAge]="age"
></child-comp>
<input type="text" [(ngModel)]="name">
<input type="text" [(ngModel)]="age" placeholder="Возраст пользователя">


<h2>Количество кликов: {{clicks}}</h2>
<child-comp-event
  (onChanged)="onChanged($event)"
></child-comp-event>


<child-event-binding [(userName)]="name"></child-event-binding>
<div>Выбранное имя: {{name}}</div>


<h2>Lifecycle hooks</h2>
<lifecycle-hook [name]="name"></lifecycle-hook>
<input type="text" [(ngModel)]="name">


<h2>Template reference variable</h2>
<template-ref-var #counter></template-ref-var>
<button (click)="counter.increment()">+</button>
<button (click)="counter.decrement()">-</button>


<h2>Content Child</h2>
<app-child-comp>
  <h3 #headerContent>Welcome {{name}}! This is content child </h3>
</app-child-comp>


<app-ng-class></app-ng-class>


<h2>Personal directive</h2>
<div>
  <p bold>Hello Angular 2 - this text is bold </p>
  <p>Angular 2 представляет модульную архитектуру приложения</p>
</div>

<div>
  <p bold [selectedSize]="'18px'" [defaultSize]="'14px'">Hello Angular 2</p>
  <p>Angular 2 представляет модульную архитектуру приложения</p>
</div>


<app-http></app-http>

<app-http-observable></app-http-observable>

<app-directives></app-directives>
